build:
  maxIssues: 0

config:
  validation: true
  warningsAsErrors: true

processors:
  active: true

complexity:
  active: true
  LongMethod:
    active: true
    threshold: 50
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 8
  TooManyFunctions:
    active: true
    thresholdInFiles: 12
    thresholdInClasses: 15
  CyclomaticComplexMethod:
    active: true
    threshold: 15
  NestedBlockDepth:
    active: true
    threshold: 4

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  RedundantSuspendModifier:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

empty-blocks:
  active: true

exceptions:
  active: true
  SwallowedException:
    active: true
  TooGenericExceptionCaught:
    active: true
  PrintStackTrace:
    active: true

naming:
  active: true
  ClassNaming:
    active: true
  FunctionNaming:
    active: true
    excludeClassPattern: '.*Test'
    ignoreAnnotated:
      - 'Composable'
  VariableNaming:
    active: true
  PackageNaming:
    active: true
  TopLevelPropertyNaming:
    active: true
    constantPattern: '[A-Z][_A-Z0-9]*'

performance:
  active: true
  SpreadOperator:
    active: true
  ArrayPrimitive:
    active: true
  ForEachOnRange:
    active: true
  UnnecessaryTemporaryInstantiation:
    active: true

potential-bugs:
  active: true
  UnsafeCallOnNullableType:
    active: true
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  IgnoredReturnValue:
    active: true

style:
  active: true
  ForbiddenComment:
    active: false
  MagicNumber:
    active: true
    ignoreNumbers:
      - '-1'
      - '0'
      - '1'
      - '2'
    ignorePropertyDeclaration: true
    ignoreCompanionObjectPropertyDeclaration: true
  MaxLineLength:
    active: true
    maxLineLength: 120
  ReturnCount:
    active: true
    max: 3
    excludeGuardClauses: true
  ThrowsCount:
    active: true
    max: 2
  UnnecessaryParentheses:
    active: true
  UnusedImports:
    active: true
  UnusedParameter:
    active: true
    ignoreAnnotated:
      - 'Composable'
  UnusedPrivateProperty:
    active: true
  WildcardImport:
    active: true
    excludeImports:
      - 'kotlinx.coroutines.flow.*'

comments:
  active: true
  UndocumentedPublicClass:
    active: true
    searchInNestedClass: true
  UndocumentedPublicFunction:
    active: true
